<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="font-mono">
    <main class="box-border pt-8">
      <div class="w-full h-2 bg-yellow-600"></div>
      <div class="max-w-[80ch] prose xl:prose-xl m-2 xl:m-4">
          {{ content | safe }}
      </div>
    </main>
  </body>
</html>
