mixin bioicon(color)
  -
    var colors = {
      "lime": "bg-lime-500 group-hover:bg-lime-400 dark:bg-lime-600 dark:group-hover:bg-lime-400",
      "blue": "bg-blue-500 group-hover:bg-blue-300 dark:bg-blue-600 dark:group-hover:bg-blue-400",
      "fuchsia": "bg-fuchsia-500 group-hover:bg-fuchsia-300 dark:bg-fuchsia-600 dark:group-hover:bg-fuchsia-400",
      "green": "bg-green-500 group-hover:bg-green-300 dark:bg-green-600 dark:group-hover:bg-green-400",
      "orange": "bg-orange-500 group-hover:bg-orange-300 bg:from-orange-600 dark:group-hover:bg-orange-400",
      "pink": "bg-pink-500 group-hover:bg-pink-300 dark:bg-pink-600 dark:group-hover:bg-pink-400",
      "red": "bg-red-500 group-hover:bg-red-300 dark:bg-red-600 dark:group-hover:bg-red-400",
      "yellow": "bg-yellow-500 group-hover:bg-yellow-300 dark:bg-yellow-600 dark:group-hover:bg-yellow-400",
    };
  div(class=`transition flex-none w-10 lg:w-14 rounded-full p-1.5 lg:p-2 ${colors[color]}`)&attributes(attributes)
    div(class="group-hover:-rotate-12 transition")
      block

mixin bioitem
  div(class="flex flex-row items-center gap-2 lg:gap-4 group")&attributes(attributes)
    block

mixin biotext
  div(class="flex-initial inline-block text-bold text-xl lg:text-2xl")
    block

mixin bio
  section(id="bio", class="flex flex-col items-start gap-2 lg:gap-4")
    block

doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Joe Harrison
  body(class="dark:bg-black bg-white")
    main(class="min-h-screen min-w-screen box-border pt-8 dark:text-white selection:text-white selection:bg-black dark:selection:text-black dark:selection:bg-white")   
      div(id="rule" class="w-full h-1 bg-gradient-to-r from-black dark:from-white via-yellow-500 dark:via-yellow-400 to-black dark:to-white bg-[size:200%]")
      header(class="px-4 pb-4 font-bold")
        div(class="inline-flex gap-2 content-end group")
          h1(class="text-6xl") Joe Harrison
          div(class="relative w-12 transition duration-500 opacity-0 group-hover:opacity-100")
            div(class="w-12 absolute bottom-0 text-blue-400 opacity-70 group-hover:animate-[1s_ping_100ms_ease-in-out_1]", title="This website is verified because it's subscribed to HTTP Blue.")
              include ../node_modules/heroicons/24/solid/check-badge.svg
            div(class="w-12 absolute bottom-0 text-blue-400", title="This website is verified because it's subscribed to HTTP Blue.")
              include ../node_modules/heroicons/24/solid/check-badge.svg
            
        h2(class="text-4xl") Functional Programmer, Software Engineer, Train Nerd
      div(class="px-4 pb-4")
        +bio
          a(title="Pronouns" href="https://en.pronouns.page/are/he/him", class="hover:underline")
            +bioitem
              +bioicon("green")
                include ../node_modules/heroicons/24/outline/tag.svg
              +biotext
                span he/him
          a(title="Location" href="https://www.openstreetmap.org/relation/65606", class="hover:underline")
            +bioitem
              +bioicon("orange")
                include ../node_modules/heroicons/24/outline/map-pin.svg
              +biotext
                span London, UK
          a(title="Email" href="mailto:joe@sigwinch.uk", class="hover:underline") 
            +bioitem
              +bioicon("yellow")
                include ../node_modules/heroicons/24/outline/at-symbol.svg
              +biotext
                span joe@sigwinch.uk
          //- a(title="Matrix" href="https://matrix.to/#/@joe:sigwinch.uk", class="hover:underline") 
          //-   +bioitem
          //-     +bioicon("yellow")
          //-       include ../node_modules/heroicons/24/outline/chat-bubble-oval-left-ellipsis.svg
          //-     +biotext
          //-       span @joe:sigwinch.uk
          a(title="GitHub" href="https://github.com/sigwinch28", class="hover:underline") 
            +bioitem
              +bioicon("blue")
                include ../node_modules/heroicons/24/outline/code-bracket.svg
              +biotext
                span sigwinch28
          a(title="PGP Key" href="https://keys.openpgp.org/search?q=joe@sigwinch.uk", class="hover:underline") 
            +bioitem
              +bioicon("red")
                include ../node_modules/heroicons/24/outline/key.svg
              +biotext
                span 62F9 CC13 8DD7 1788
          a(title="Disabilities" href="https://en.wikipedia.org/wiki/Color_blindness#Red%E2%80%93green_color_blindness", class="hover:underline") 
            +bioitem
              +bioicon("fuchsia")
                include ../node_modules/heroicons/24/outline/eye-slash.svg
              +biotext
                span Deutan
          +bioitem(title="Qualifications")
            +bioicon("lime")
              include ../node_modules/heroicons/24/outline/academic-cap.svg
            +biotext
              span PhD &amp; BSc in Computer Science, University of Kent

    footer(class="bg-black dark:bg-white text-white dark:text-black selection:text-black selection:bg-white dark:selection:text-white dark:selection:bg-black p-2 lg:p-4 space-y-2")
      p.
        🚇 Inspired by the design of New York City Subway signs.
      p.
        🖥️ Written in Pug. 🎨 Styled with Tailwind CSS. 🚇 Icons by Heroicons. 📦 Bundled with 11ty.
