---
date: git Last Modified
---
doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title sigwinch(28)
  body(class="bg-black text-white font-serif")
    main(class="min-h-screen min-w-screen box-border pt-8 text-white selection:bg-yellow-600")   
      div(class="w-full h-2 bg-yellow-600")
      header(class="px-4 py-4")
        h1(class="text-4xl lg:text-6xl uppercase font-mono")
          span sigwinch
          span(class="text-yellow-600 inline-block") (
          span 28
          span(class="text-yellow-600 inline-block") )
          span
        h2(class="pt-4") special interest group for winches and POSIX signals
      div(class="px-4 py-4 text-yellow-600 uppercase flex flex-row")
        div(class="animate-pulse-full") >>
        a(href="mailto:joe@sigwinch.uk" class="px-[1ch] hover:bg-yellow-600 hover:text-black") open comms
        div(class="animate-pulse-full") <<
        
      //- div(class="px-4 py-4 text-yellow-600 uppercase flex flex-row")
      //-   a(href="./musings" class="hover:bg-yellow-600 hover:text-black") musings
 
