---
date: git Last Modified
---
doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title sigwinch(28)
  body(class="bg-black text-white font-mono")
    main(class="min-h-screen min-w-screen box-border pt-8 text-white selection:bg-yellow-600")   
      div(class="w-full h-1 bg-yellow-600 rotate-1")
      header(class="px-4 py-4")
        h1(class="text-4xl lg:text-6xl lowercase")
          span sigwinch
          span(class="text-yellow-600 inline-block") (
          span 28
          span(class="text-yellow-600 inline-block") )
          span
        h2(class="pt-4") special interest group for winches and POSIX signals
      p(class="px-4 py-4 text-yellow-600 uppercase")
        a(class="p-1 before:animate-pulse-full before:content-['>_'] after:content-['_<'] after:animate-pulse-full hover:bg-yellow-600 dark:hover:text-black hover:text-white" href="mailto:joe@sigwinch.uk") open comms

 
