@tailwind base;
@tailwind components;
@tailwind utilities;

#rule {
    animation: slide-background 12s linear infinite;
}

@keyframes slide-background {
    0% {
        background-position: 0% 0%
    }

    100% {
        background-position: 200% 0%
    }

}
