@import '@fontsource/iosevka' layer(base);
@import '@fontsource/iosevka/700.css' layer(base);

@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-sans:
    'Orbitron', 'Helvetica Neue', Helvetica, ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, 'Noto Sans',
    sans-serif;
  --font-mono:
    'Iosevka', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --animate-pulse-full: pulse-full 1s cubic-bezier(0.4, 0, 1, 0.6) infinite;
}

@keyframes pulse-full {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
